.my-homepage-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* min-height: 650px; */
    /* z-index: -1; */
    background-image: url(../img/wood3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#plant-moment {
    font-family: 'Raleway', 'PT Sans Narrow', Arial, sans-serif;
    text-shadow: 2px 2px #575e66;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.75rem;
}

.plant-moment-text {
    text-shadow: 2px 2px #575e66;
    color: #fff;
    font-family: 'Raleway', 'PT Sans Narrow', Arial, sans-serif;
}

.plant-moment-p {
    font-size: 16px;
    padding: 8px;
    color: #fff;
    text-shadow: none;

}

#plant-moment-img {
    padding: 10px;
}


