#landing-page-login {
    color: #fff;
    background-color: #80AD41;
    border-color: #566F2D;
}

#landing-page-signup {
    color: #fff;
    background-color: #AD877B;
    border-color: #AD877B;
}

h1,
h2,
h4 {
    font-family: 'Raleway', 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #fff !important;

    /* background-color: #ededed !important; */
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}




/* NAVIGATION */

.navbar {
    /* background-color: #AEC7BA !important; */
    background-color: #f8f9fa !important;
    /* text-transform: uppercase; */
    font-family: 'Raleway', 'PT Sans Narrow', Arial, sans-serif;
    /* font-weight: 700; */
    /* opacity: 0.7; */
}

.navbar a {
    /* color: #fff !important; */
    color: #6B7E6B !important;
    /* opacity: 0.8; */
}

.navbar a:hover {
    cursor: pointer;
    /* opacity: 1;
    background-color: #80AD41 !important; */
}


/* HEADER */

.header {
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    /* margin-top: 50px; */
    background-image: url(../img/plant7.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* color: #6B7E6B; */
}

.header img {
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    margin-top: 20px;
}

.header .btn {
    border-radius: 8px;
    margin: 40px 20px;
}



/* Media queries can be used to check many things, such as:
width and height of the viewport
width and height of the device
orientation (is the tablet/phone in landscape or portrait mode?)
resolution */


@media(max-width:768px) {
    .header {
        padding: 30px;
        height: 750px;
    }

    .header img {
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {
        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 10px;
    }
}

/* SERVICES */

.services {
    padding: 80px 0 80px;
    text-align: center;
}

.services h2, 
.services h4 {
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.services p {
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


/* .services i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
} */


@media(max-width:768px) {
    
    .services {
        padding: 30px;
    }
}


#landing-page-description {
    font-size: 18px;
}