img {
    height: 250px;
    width: 250px;
}





.AutoCompleteText {
    width: 50%;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) 0 2px 4px 1px rgba(0,0,0,.18);
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    margin: 150px auto 0 auto;
}

.AutoCompleteText input {
    width: 100%;
    border: none;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}

.AutoCompleteText ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}


/* pseudo selector allows the removal of whitespace before the ul */
.AutoCompleteText ul::before {
    content: "";
}

.AutoCompleteText li {
    padding: 10px 5px;
    cursor: pointer;
}


/* hover pseduo selector on the li selector */
.AutoCompleteText li:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.20);
}

.App-Component {
    margin: 150px auto 0 auto;
    width: 600 px;
}

body {
    margin: 0;
    margin-top: 50px;
    padding: 0;

}


/* **********************************App.css */

.App {
    text-align: center;
}




