img {
    height: 250px;
    width: 250px;
}

/* trie search bar test */
.hide {
    visibility : hidden;
}

.show {
    visibility : visible;
}

.colorRedFont {
    color : red;
    display : none;
}

.colorBlueBackground {
    background-color : blue;
    display : block;
}