<!DOCTYPE html>
<html>
<head>
    <title>Add New Houseplant Form</title>
</head>
<body>
    <form action="/add-houseplant" method="POST">
        <label>
            Latin Name:
            <input type="text" name="latinName"></input>
        </label>
        <label>
            Common Name:
            <input type="text" name="commonName"></input>
        </label>
        <label>
            Light Requirements:
            <input type="text" name="lightRequirements"></input>
        </label>
        <label>
            Notes:
            <input type="text" name="notes"></input>
        </label>
        <input type="submit" value="Add Houseplant"></input>
    </form>
</body>
</html>