<!DOCTYPE html>
<html>
<head>
    <title>iSpeakPlantish Homepage</title>

    <!-- Import React-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- Import Babel-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <meta charset="utf-8" />
    <!-- Import jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <!-- Import CSS -->
    <link href="/static/css/site.css" rel="stylesheet">

</head>
<body>
    <h1>ISpeakPlantish</h1>

    <div id="root"> <!-- component will go in this div --> </div>

    <!-- Import Javascript -->  
    <script src="static/js/autocompleteText.jsx" type="text/jsx"></script>
    <script src="static/js/plantInfo.jsx" type="text/jsx"></script>
    <script src="static/js/AddEntries.jsx" type="text/jsx"></script>
    <script src="static/js/plantCollection.jsx" type="text/jsx"></script>
    <script src="static/js/form.jsx" type="text/jsx"></script>
    <script src="static/js/homepage.jsx" type="text/jsx"></script>
    <script src="static/js/aboutPage.jsx" type="text/jsx"></script>
    <script src="static/js/app.jsx" type="text/jsx"></script>
</body>
</html>